freezegun
python-dateutil
openupgradelib
num2words
xlrd
lxml
unidecode
pycountry
schwifty==2024.4.0
factur-x
premailer
odoo-test-helper
email-validator
requests
mock
openpyxl
py3o.formats
py3o.template
xlsxwriter
email_validator
pysaml2
python-jose
cryptography
astor
dataclasses
odoorpc
paramiko<4.0.0
pysftp
sentry_sdk>=2.0.0,<=2.22.0
pdf2image
pyzbar
beautifulsoup4
bokeh==3.6.3
mpld3==0.5.10